<p>hello</p>>

{% schema %}
  {
    "name": "404-new",
    "settings": [],
    "presets": [
        {  "category":"content",
           "name": "404-new-section"
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}